apiVersion: v1
kind: Service
metadata:
  name: stock-your-lot-api
  labels:
    app: stock-your-lot-api
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: stock-your-lot-api
